name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    name: CI - Main Job
    runs-on: ubuntu-latest
    steps:
            - uses: actions/checkout@v4
              with:
                fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                node-version: 24
                cache: 'npm'

            - name: Install dependencies
              run: npm ci

            - name: Lint
              run: node index.js
